snippet grid_layout "Shorthand property for creating a grid layout" b
grid:
  ${1:[row1-start]} "${2:header header header}" ${3:1fr} ${4:[row1-end]}
  ${5:[row2-start]} "${6:footer footer footer}" ${7:25px} ${8:[row2-end]}
  / ${9:auto 50px auto};
endsnippet
