snippet lecture_meta "Document meta for lecture notes" b
@document.meta
title: $1
lecturer: $2
grading: $3
keywords: $4
@end

= TOC

* Course Information

* Notes

* Week 1
endsnippet

snippet daily_work_notes "" b
* `date +%d.%m.%y` 
** Sorular

** Yapılacaklar

** Notlar

** Kaynaklar

endsnippet
