snippet docf "Documentation function like comment" b
/// ${1:Function description}
///
/// ${2:# Examples 
///
/// \`\`\` 
/// 
/// \`\`\`}
endsnippet

snippet docm "Documentation module like comment" b
//! # ${1:My Crate}
//!
//! ${2:my_crate is a crate}
endsnippet
